terraform {
  backend "s3" {
    bucket = "terraformbackend"
    key = "terraform"
    region = "us-east-2"
    dynamodb_table = "terraform-lock"
  }
}

# Configure the AWS Provider
provider "aws" {
  access_key = "${var.aws_access_key}"
  secret_key = "${var.aws_secret_key}"
  region     = "${var.aws_region}"
}

# Configure the VPC
module "vpc" {
  source = "terraform-aws-modules/vpc/aws"

  name = "${var.aws_vpc_name}"
  cidr = "${var.aws_vpc_cidr}"

 # azs             = ["eu-west-1a", "eu-west-1b", "eu-west-1c"]
 # private_subnets = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
 # public_subnets  = ["10.0.101.0/24", "10.0.102.0/24", "10.0.103.0/24"]
 
 # assign_generated_ipv6_cidr_block = true
 
 # enable_nat_gateway = true
 # enable_vpn_gateway = true
  public_subnet_tags = {
    Name = "overridden-name-public"
  }

  tags = {
    Owner       = "user"
    Environment = "dev"
    Terraform = "true"
    Environment = "dev"
  }
  vpc_tags = {
    Name = "vpc-name"
  }
}


module "vote_service_sg" {
  source = "terraform-aws-modules/security-group/aws"

  name        = "${var.aws_sg_name}"
  description = "${var.aws_sg_desc}"
  vpc_id      = "${module.vpc.vpc_id}"

  ingress_cidr_blocks      = ["10.10.0.0/16"]
}

module "ec2_cluster" {
  source                 = "terraform-aws-modules/ec2-instance/aws"
  version                = "1.12.0"

  name                   = "my-cluster"
  instance_count         = 1

  ami                    = "ami-ebd02392"
  instance_type          = "t2.micro"
  key_name               = "user1"
  monitoring             = true
  vpc_security_group_ids = ["sg-12345678"]
  subnet_id              = "subnet-eddcdzz4"

  tags = {
    Terraform = "true"
    Environment = "dev"
  }
}

