
aws_bucket_tfstate = "{{ aws_bucket_tfstate }}"
aws_region_tfstate = "{{ aws_region_tfstate }}"
aws_bucketkey_tfstate = "{{ aws_bucketkey_tfstate }}"

aws_access_key = "{{ aws_access_key }}"
aws_secret_key = "{{ aws_secret_key }}"
aws_region = "{{ aws_region }}"