azurerm_subscription_id="{{ azurerm_subscription_id }}"
azurerm_client_id="{{ azurerm_client_id }}"
azurerm_client_secret="{{ azurerm_client_secret }}"
azurerm_tenant_id="{{ azurerm_tenant_id }}"

azurerm_rg_name="{{ azurerm_rg_name }}"
azurerm_rg_region="{{ azurerm_rg_region }}"
azurerm_rg_tag_env="{{ azurerm_rg_tag_env }}"

azurerm_bucket_rg="{{ azurerm_bucket_rg }}"