
aws_bucket_tfstate = "{{ aws_bucket_tfstate }}"
aws_region_tfstate = "{{ aws_region_tfstate }}"
aws_bucketkey_tfstate = "{{ aws_bucketkey_tfstate }}"

google_credentials = "${file("google_account.json")}"
google_project     = "{{ google_project }}"
google_region      = "{{ google_region }}"